.game-board {
   display: grid;
   grid-template-columns: repeat(4, 25px);
   grid-gap: 4px;

 }
 
 .square {
   width: 30px; /* Điều chỉnh kích thước chiều rộng của ô vuông */
   height: 30px; /* Điều chỉnh kích thước chiều cao của ô vuông */
   background-color: #fff;
   border: 1px solid #000;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px; /* Điều chỉnh kích thước chữ trong ô vuông */
   margin: 1px;}